.content {
    display: flex;
    flex-direction: row;
}
aside {
    width: 300px;
    height: 100vh;
}
.main {
    flex: 1;
    background-color: var(--color-dark-secondary);
    border-radius: 20px;
    margin: 20px 20px 20px 10px;
    padding: 10px;
    display: flex;
    overflow: hidden;
}
